<div class="wrapper">
    <main style="padding:30px">
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin">
                                <div class="user-data full-width">
                                    <% @user ||= current_user %>
                                    <div class="user-profile">
                                        <div class="username-dt">
                                            <div class="usr-pic">
                                                <% if @user.profile_image.attached? %>
                                                    <%= image_tag(@user.profile_image, width:"100", height:"110") %>
                                                <% else %>
                                                    <%= image_tag("default_profile.jpg", width:"100", height:"110") %>
                                                <% end %>
                                            </div>
                                        </div><!--username-dt end-->
                                        <div class="user-specs">
                                            <h6><%= @user.first_name + " " + @user.last_name %></h6>
                                            <span><%= @user.bio %> </span>
                                        </div>
                                    </div><!--user-profile end-->
                                    <% if current_user.id != @user.id %>
                                        <%= render 'layouts/forms/follow_form' %>
                                    <% end %>
                                    <ul class="user-fw-status">
                                        <li>
                                            <a href="<%= following_user_path(@user) %>">
                                                <h4><%= t('label.following') %></h4>
                                            </a>
                                            <span><%= @user.following.count %></span>
                                        </li>
                                        <li>
                                            <a href="<%= followers_user_path(@user) %>">
                                                <h4><%= t('label.followers') %></h4>
                                            </a>
                                            <span><%= @user.followers.count %></span>
                                        </li>
                                        <li>
                                            <a href="<%= edit_user_registration_path %>" title=""><%= t('label.edit_profile') %></a>
                                        </li>
                                    </ul>
                                </div><!--user-data end-->
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd">
                            <div class="main-ws-sec">
                                <% if current_user.id == @user.id %>
                                    <div class="post-topbar">
                                        <div class="user-picy">
                                            <% if current_user.profile_image.attached? %>
                                                <%= image_tag(current_user.profile_image, width:"50", height:"50") %>
                                            <% else %>
                                                <%= image_tag("default_profile.jpg", width:"50", height:"50") %>
                                            <% end %>
                                        </div>
                                        <div class="post-st">
                                            <ul>
                                                <li>
                                                    <button class="btn btn-primary float-right" id="createPostBtn"> <%= t('label.create_post') %> </button>
                                                </li>
                                            </ul>
                                        </div><!--post-st end-->
                                    </div><!--post-topbar end-->
                                <% else %>
                                    <div class="main-ws-sec" style="padding:10px; font-size:1.5rem;">
                                        <h3> <%= @user.first_name + " " + t('label.posts') %></h3>
                                    </div>
                                <% end %>
                                <div class="posts-section">
                                    <% if @posts.any? %>
                                        <div id="posts">
                                            <%= render 'layouts/components/post' %>
                                        </div>
                                        <%= will_paginate @posts %>
                                    <% else %>
                                        <div class="main-ws-sec" style="text-align:center; padding:10px; font-size:1.5rem;">
                                            <h3> <%= t('message.no_posts') %></h3>
                                        </div>
                                    <% end %>
                                </div><!--posts-section end-->
                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3 pd-right-none no-pd">
                            <div class="right-sidebar">
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
</div><!--theme-layout end-->

<%= render 'layouts/forms/edit_comment_modal' %>
<%= render 'layouts/forms/add_post_modal' %>