<% provide(:title, @title) %>
<div class="wrapper">
    <main style="padding:30px">
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin">
                                <div class="user-data full-width">
                                    <div class="user-profile">
                                        <div class="username-dt">
                                            <div class="usr-pic">
                                                <% if current_user.profile_image.attached? %>
                                                    <%= image_tag(current_user.profile_image, width:"100", height:"110") %>
                                                <% else %>
                                                    <%= image_tag("default_profile.jpg", width:"100", height:"110") %>
                                                <% end %>
                                            </div>
                                        </div><!--username-dt end-->
                                        <div class="user-specs">
                                            <h6><%= current_user.first_name + " " + current_user.last_name %></h6>
                                            <span><%= current_user.bio %> </span>
                                        </div>
                                    </div><!--user-profile end-->
                                    <% if current_user.id != @user.id %>
                                        <%= render 'layouts/forms/follow_form' %>
                                    <% end %>
                                    <ul class="user-fw-status">
                                       <li>
                                            <a href="<%= following_user_path(@user) %>">
                                                <h4><%= t('label.following') %></h4>
                                            </a>
                                            <span><%= @user.following.count %></span>
                                        </li>
                                        <li>
                                            <a href="<%= followers_user_path(@user) %>">
                                                <h4><%= t('label.followers') %></h4>
                                            </a>
                                            <span><%= @user.followers.count %></span>
                                        </li>
                                        <li>
                                            <a href="<%= edit_user_registration_path %>" title=""><%= t('label.edit_profile') %></a>
                                        </li>
                                    </ul>
                                </div><!--user-data end-->
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd">
                            <div class="main-ws-sec" style="padding:10px; font-size:1.5rem;">
                                <% if @title == "Following" %>
                                    <h3> <%= t('label.following') %></h3>
                                <% else %>
                                    <h3> <%= t('label.followers') %> </h3>
                                <% end %>
                            </div><!--main-ws-sec end-->
                            <div class="main-ws-sec">
                                <% if @users.any? %>
                                    <% @users.each do |user| %>
                                        <div class="post-topbar" style="border-top:0px;">
                                            <div class="usy-dt">
                                                <% if user.profile_image.attached? %>
                                                    <%= image_tag(user.profile_image, width:"50", height:"50") %>
                                                <% else %>
                                                    <%= image_tag("default_profile.jpg", width:"50", height:"50") %>
                                                <% end %>
                                                <div class="usy-name">
                                                    <h3 style="padding:10px;">
                                                        <%= user.first_name + " " + user.last_name %>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="post-st">
                                                <ul>
                                                    <li>
                                                        <%= button_to t('label.view_profile'), user_path(user.id), :method => "get", class: "btn btn-primary float-right" %>
                                                    </li>
                                                </ul>
                                            </div><!--post-st end-->
                                        </div><!--post-topbar end-->
                                    <% end %>
                                    <%= will_paginate @users %>
                                <% else %>
                                    <div class="main-ws-sec" style="text-align:center;">
                                        <% if @title == "Following" %>
                                            <h3> <%= t('message.no_following') %> </h3>
                                        <% else %>
                                            <h3> <%= t('message.no_followers') %> </h3>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3 pd-right-none no-pd">
                            <div class="right-sidebar">
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
</div><!--theme-layout end-->