<main style="padding:30px">
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
            </div>
            <div class="col-lg-6 col-md-8 no-pd">
                <div class="main-ws-sec">
                    <div class="posts-section">
                        <div class="post-project">
                            <h3><%= t('message.change_password') %></h3>
                            <div class="post-project-fields">
                              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                                <div class="row">
                                  <%= render "devise/shared/error_messages", resource: resource %>
                                  <%= f.hidden_field :reset_password_token %>
                                  
                                  <div class="col-lg-12">
                                    <%= f.label :password, t('label.new_password') %><br />
                                    <% if @minimum_password_length %>
                                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                                    <% end %>
                                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
                                  </div>

                                  <div class="col-lg-12">
                                    <%= f.label :password_confirmation, t('label.confirm_new_password') %><br />
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                                  </div>
                                  <div class="col-lg-12" style="text-align:center;">
                                    <ul>
                                      <li>
                                        <%= f.submit t('message.change_my_password'), class:"btn btn-primary", style: "color:white; margin-bottom:0px;" %>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              <% end %>
                              <%= render "devise/shared/links" %>
                            </div><!--post-project-fields end-->
                        </div><!--post-project end-->
                    </div><!--posts-section end-->
                </div><!--main-ws-sec end-->
            </div>
            <div class="col-lg-3 pd-right-none no-pd">
                <div class="right-sidebar">
                </div><!--right-sidebar end-->
            </div>
        </div>
      </div><!-- main-section-data end-->
    </div> 
  </div>
</main>
