<div class="wrapper">
    <main style="padding:30px">
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin">
                                <div class="user-data full-width">
                                    <div class="user-profile">
                                        <div class="username-dt">
                                            <div class="usr-pic">
                                                <img src="http://via.placeholder.com/100x100" alt="">
                                            </div>
                                        </div><!--username-dt end-->
                                        <div class="user-specs">
                                            <h6><%= "Raymart Prado" %></h6>
                                            <span>This is my bio.</span>
                                        </div>
                                    </div><!--user-profile end-->
                                    <ul class="user-fw-status">
                                        <li>
                                            <h4>Following</h4>
                                            <span>34</span>
                                        </li>
                                        <li>
                                            <h4>Followers</h4>
                                            <span>155</span>
                                        </li>
                                        <li>
                                            <a href="#" title="">View Profile</a>
                                        </li>
                                    </ul>
                                </div><!--user-data end-->
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd">
                            <div class="main-ws-sec">
                                <div class="posts-section">
                                    <div class="post-topbar">
                                        <%= form_with model: @post do |form| %>
                                             <div class="row">
                                                <%= render 'layouts/forms/post', form: form %>
                                                <div class="col-lg-12">
                                                    <ul>
                                                        <%= form.submit "Create Post", class:"btn btn-primary float-right" %>
                                                    </ul>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div><!--post-topbar end-->
                
                                    <% @posts.each do |post| %>
                                        <div class="post-bar">
                                            <div class="post_topbar">
                                                <div class="usy-dt">
                                                    <img src="http://via.placeholder.com/50x50" alt="">
                                                    <div class="usy-name">
                                                        <h3><%= "Raymart Prado" %></h3>
                                                        <span>
                                                            <%= image_tag("clock.png", :alt => "Clock") %>
                                                            <%= post.created_at %>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="ed-opts">
                                                    <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_post_path(post.id) %>
                                                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
                                                </div>
                                            </div>
                                            <%= link_to post_path(post.id) do %>
                                                <div class="job_descp">
                                                    <p>
                                                        <%= post.content %>
                                                        <!-- <a href="#" title="">view more</a> -->
                                                    </p>
                                                </div>
                                            <% end %>
                                            <div class="job-status-bar">
                                                <ul class="like-com">
                                                    <%
                                                        pre_like = post.likes.find { |like| like.user_id == current_user.id}
                                                        post_like = "<i class='fa fa-heart'></i>
                                                            #{(post.likes.count != 0 ? post.likes.count : '')}
                                                            #{((post.likes.count) > 1 ? 'Likes' : 'Like')}"
                                                    %>
                                                    <li>
                                                        <% if pre_like %>
                                                            <%= 
                                                                link_to post_like.html_safe,
                                                                post_like_path(post, pre_like),
                                                                method: :delete,
                                                                class: 'active'
                                                            %>
                                                        <% else %>
                                                            <%= 
                                                                link_to post_like.html_safe,
                                                                post_likes_path(post),
                                                                method: :post
                                                            %>
                                                        <% end %>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-comment"></i>
                                                            Comment
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!--post-bar end-->
                                    <% end %>
                                </div><!--posts-section end-->
                            </div><!--main-ws-sec end-->
                        </div>
                        <div class="col-lg-3 pd-right-none no-pd">
                            <div class="right-sidebar">
                            </div><!--right-sidebar end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div> 
        </div>
    </main>
</div><!--theme-layout end-->

<div class="post-popup job_post">
    <div class="post-project">
        <h3>Edit Post</h3>
        <div class="post-project-fields">
            <%= form_with model: @post do |form| %>
                <div class="row">
                    <div class="col-lg-12">
                        <%=
                            form.text_area :content,
                            class: "form-control",
                            placeholder: "What\'s Happening?",
                            maxlength: 140,
                            rows: 3,
                            cols: 100,
                            required: false
                        %>
                        <small class="form-text text-muted" style="float:left;" >
                            <span id="remainingCharacter">140</span>
                            Character(s) Remaining
                        </small><br>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><%= form.submit "Create Post", class:"btn btn-primary" %></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            <% end %>
        </div><!--post-project-fields end-->
        <a href="#" title=""><i class="fa fa-times-circle-o"></i></a>
    </div><!--post-project end-->
</div><!--post-project-popup end-->
