<header>
    <div class="container">
        <div class="header-data">
        <div class="logo">
            <a href="index.html" title="">
            </a>
        </div><!--logo end-->
        <div class="search-bar">
            <form>
            <input type="text" name="search" placeholder=<%= t('label.search') %>>
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!--search-bar end-->
        <div class="user-account" style="width:120px">
            <div class="user-info">
                <img src="http://via.placeholder.com/30x30" alt="">
                <p> <%= current_user.first_name %> </p>
                <i class="fa fa-sort-down"></i>
            </div>
            <div class="user-account-settingss">
            <ul class="us-links">
                <li>
                    <%= link_to(t('label.account_setting'), edit_user_registration_path) %>
                </li>
            </ul>
            <h3 class="tc">
                <%= link_to(t('label.sign_out'), destroy_user_session_path, :method => 'delete') %>
            </h3>
            </div><!--user-account-settingss end-->
        </div>
        <div class="user-account" style="width:120px">
            <div class="user-info">
            <%= link_to(t('label.home'), root_path) %>
            </div>
        </div>
        </div><!--header-data end-->
    </div>
</header><!--header end-->