<header>
    <div class="container">
        <div class="header-data">
        <div class="logo">
            <a href="index.html" title="">
                <%= image_tag("logo.png") %>
            </a>
        </div><!--logo end-->
        <div class="search-bar">
            <%= form_tag(root_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag  :search, params[:search], placeholder: t('label.search') %>
                <button type="submit"><i class="fa fa-search"></i></button>
            <% end %>
        </div><!--search-bar end-->
        <nav>
            <ul>
                <li>
                    <%= link_to("<span>#{image_tag("home_icon.png")}</span> #{t('label.home')}".html_safe, root_path) %>
                </li>
            </ul>
        </nav><!--nav end-->
        <div class="user-account" style="width:120px;">
            <div class="user-info">
                <% if current_user.profile_image.attached? %>
                    <%= image_tag(current_user.profile_image, width:"30", height:"30") %>
                <% else %>
                    <%= image_tag("default_profile.jpg", width:"30", height:"30") %>
                <% end %>
                <p style="color:white;"> <%= current_user.first_name %> </p>
                <i class="fa fa-sort-down"></i>
            </div>
            <div class="user-account-settingss">
                <ul class="us-links">
                    <li>
                        <%= link_to(t('label.account_setting'), edit_user_registration_path) %>
                    </li>
                </ul>
                <h3 class="tc">
                    <%= link_to(t('label.sign_out'), destroy_user_session_path, :method => 'delete') %>
                </h3>
            </div><!--user-account-settingss end-->
        </div>
        </div><!--header-data end-->
    </div>
</header><!--header end-->